<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="css/style.css" rel="stylesheet" />
<body>
        <table>
            <tr >
                <td>Id</td>
                <td>Catalog number</td>
                <td>Description</td>
                <td>Quantity</td>
            </tr>
            <th:block th:each="product : ${products}">
                <tr>
                    <form action="#" th:action="@{/rent}" method="POST">
                        <td th:text="${product.id}">...</td>
                        <td th:text="${product.catalogueNumber}">...</td>
                        <td th:text="${product.description}">...</td>
                        <td th:text="${product.quantity}">...</td>
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <td>
                            <input type="submit" value="Rent">
                        </td>
                    </form>
                </tr>
            </th:block>
        </table>
</body>
</html>